<a href="https://colab.research.google.com/github/marcosmorris/pythonteoria/blob/main/CURSO_DE_PHYTON_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
primeiro_nome = 'Marcos'
print(primeiro_nome)
nome_completo = 'Marcos Leandro Matias Morris'
print(nome_completo)

Marcos
Marcos Leandro Matias Morris

STRINGS

In [ ]:
print(f'Olá {nome_completo}, você gostaria de aprender phyton hoje?')

Olá Marcos Leandro Matias Morris, você gostaria de aprender phyton hoje?

In [ ]:
nome = 'barbara correa dos santos'
print(nome.title())
print(nome.upper())
print(nome.lower())

Barbara Correa Dos Santos
BARBARA CORREA DOS SANTOS
barbara correa dos santos

In [ ]:
pensador = 'Albert Einstein'
pensamento = 'Duas coisas nesse mundo são infinitas: o universo e a burrice humana. Mas, em relação ao universto, tenho minhas dúvidas'
final = pensador + ' ' + 'disse uma vez:' +' '+ pensamento
print(final)
print(f'Uma vez o grande pensador {pensador} disse: {pensamento}' )

Albert Einstein disse uma vez: Duas coisas nesse mundo são infinitas: o universo e a burrice humana. Mas, em relação ao universto, tenho minhas dúvidas
Uma vez o grande pensador Albert Einstein disse: Duas coisas nesse mundo são infinitas: o universo e a burrice humana. Mas, em relação ao universto, tenho minhas dúvidas

In [ ]:
primeiro_nome = 'Marcos'
sobrenome = 'Morris'
idade = '45'
print('primeiro_nome:\nsobrenome:\nidade')
print(final)

primeiro_nome:
sobrenome:
idade
Albert Einstein disse uma vez: Duas coisas nesse mundo são infinitas: o universo e a burrice humana. Mas, em relação ao universto, tenho minhas dúvidas

In [ ]:
cidade1 = 'Curitiba '
cidade2 = ' Brasilia'
cidade1 == cidade2
cidade1.rstrip()
cidade2.lstrip()

'Brasilia'

F-STRING

In [ ]:
usuário = 'Marcos Morris'
idade = '45'
cidade = 'Portland'
País = 'EUA'
print(f'O senhor chamado {usuário} que tem {idade} anos de idade, é residente de {cidade} nos {País}')

O senhor chamado Marcos Morris que tem 45 anos de idade, é residente de Portland nos EUA

NUMEROS

In [ ]:
5+4
3**2
3*3
27/3
28//3
18-9
número_ideal = '15'
print(f'O múmero da sorte é o: {número_ideal}')

O múmero da sorte é o: 15

LISTAS

In [ ]:
carros = ['BMW', 'ferrari', 'mercedez', 'porshe', 'honda']
print(carros)
print(carros[3])
print(f'O {usuário} gosta de' + ' ' + carros[0] + ' '+ 'e' + ' '+ carros[3])
carros.append ('volvo')
print(carros)
carros.insert(5,'fusca')
print(carros)
sorted(carros)
sorted(carros,reverse = True)
len(carros)
amigos = ['Daniel Souza', 'Claudio', 'Krieger', 'Daniel Fagundes', 'Barbara', 'Regis']
len(amigos)
print(amigos[-1])
sorted(amigos)
sorted(amigos, reverse = True)
amigos.pop()
print(amigos)
amigos.reverse()
del carros[2]
print(carros)
carros.pop()
print(carros)

['BMW', 'ferrari', 'mercedez', 'porshe', 'honda']
porshe
O Marcos Morris gosta de BMW e porshe
['BMW', 'ferrari', 'mercedez', 'porshe', 'honda', 'volvo']
['BMW', 'ferrari', 'mercedez', 'porshe', 'honda', 'fusca', 'volvo']
Regis
['Daniel Souza', 'Claudio', 'Krieger', 'Daniel Fagundes', 'Barbara']
['BMW', 'ferrari', 'porshe', 'honda', 'fusca', 'volvo']
['BMW', 'ferrari', 'porshe', 'honda', 'fusca']

In [ ]:
convidados = ['Daniel', 'Krieger', 'JJ', 'Régis', 'Carlos', 'Larissa', 'Iracema', 'Claudio', 'Suely']
print(convidados)
print(f'Caro amigo' + ' '+ convidados[1] +' ' + 'gostaríamos de ter a honra da sua presença em nosso casamento')
print(f'Caro(a) amigo(a)' + ' '+ convidados[3] + ' '+ 'gostaríamos muito de ter a hnra de sua presença em nosso casamento')
print(f'Por motivos de saúde os amigos' + ' ' + convidados[0] + ' ' + convidados[1] + ' '+ convidados[2] + ' '+ 'não poderão mais comparecer ao casamento')
del convidados[0]
del convidados[1]
del convidados[2]
print(convidados)
convidados.append('Raissa')
convidados.append('patricia')
print(convidados)
convidados.insert(0, 'Iracema')
print(convidados)
convidados.insert(4, 'Alexandra')
print(convidados)
convidados.pop()
convidados.pop()
print(convidados)
convidados.pop()
print(convidados)
print(f'Os(as) convidados(as) para o casamento são:' + convidados[0] +' '+ 'e' +convidados[1] +' '+ 'e' +convidados[2] + ' '+ 'e' + convidados[3])
print(convidados)
sorted(convidados)
convidados.reverse()
print(convidados)
print(convidados)
len(convidados)
print(carros)
sorted(carros)
print(sorted(carros))
sorted (carros, reverse = True)
carros.reverse()

['Daniel', 'Krieger', 'JJ', 'Régis', 'Carlos', 'Larissa', 'Iracema', 'Claudio', 'Suely']
Caro amigo Krieger gostaríamos de ter a honra da sua presença em nosso casamento
Caro(a) amigo(a) Régis gostaríamos muito de ter a hnra de sua presença em nosso casamento
Por motivos de saúde os amigos Daniel Krieger JJ não poderão mais comparecer ao casamento
['Krieger', 'Régis', 'Larissa', 'Iracema', 'Claudio', 'Suely']
['Krieger', 'Régis', 'Larissa', 'Iracema', 'Claudio', 'Suely', 'Raissa', 'patricia']
['Iracema', 'Krieger', 'Régis', 'Larissa', 'Iracema', 'Claudio', 'Suely', 'Raissa', 'patricia']
['Iracema', 'Krieger', 'Régis', 'Larissa', 'Alexandra', 'Iracema', 'Claudio', 'Suely', 'Raissa', 'patricia']
['Iracema', 'Krieger', 'Régis', 'Larissa', 'Alexandra', 'Iracema', 'Claudio', 'Suely']
['Iracema', 'Krieger', 'Régis', 'Larissa', 'Alexandra', 'Iracema', 'Claudio']
Os(as) convidados(as) para o casamento são:Iracema eKrieger eRégis eLarissa
['Iracema', 'Krieger', 'Régis', 'Larissa', 'Alexandra', 'Iracema', 'Claudio']
['Claudio', 'Iracema', 'Alexandra', 'Larissa', 'Régis', 'Krieger', 'Iracema']
['Claudio', 'Iracema', 'Alexandra', 'Larissa', 'Régis', 'Krieger', 'Iracema']
['BMW', 'ferrari', 'porshe', 'honda', 'fusca']
['BMW', 'ferrari', 'fusca', 'honda', 'porshe']

PERCORRENDO UMA LISTA

In [ ]:
paises = ['Estados Unidos', 'Canadá', 'Bélgica', 'Holanda', 'Escócia']
paises
for paise in paises:
  print('O meu País favorito é:' +' '+ paise + '.')
  print(paise.upper())
print('todos estes países são maravilhosos')
brands = ['Nike', 'Porsche', 'Tommy']
print(brands)
for brand in brands:
  print('A minha marca favorita é:' +' ' + brand + '.')
  print(brand.upper())
print('Eu gosto de todas estas três marcas')
esportes = ['Basquete', 'futebol americano', 'futebol']
for esporte in esportes:
  print('Eu gosto muito de jogar o seguinte esporte:' + ' '+ esporte + '.')
  print(esporte.upper())
print('Estes são meus esportes favoritos')

O meu País favorito é: Estados Unidos.
ESTADOS UNIDOS
O meu País favorito é: Canadá.
CANADÁ
O meu País favorito é: Bélgica.
BÉLGICA
O meu País favorito é: Holanda.
HOLANDA
O meu País favorito é: Escócia.
ESCÓCIA
todos estes países são maravilhosos
['Nike', 'Porsche', 'Tommy']
A minha marca favorita é: Nike.
NIKE
A minha marca favorita é: Porsche.
PORSCHE
A minha marca favorita é: Tommy.
TOMMY
Eu gosto de todas estas três marcas
Eu gosto muito de jogar o seguinte esporte: Basquete.
BASQUETE
Eu gosto muito de jogar o seguinte esporte: futebol americano.
FUTEBOL AMERICANO
Eu gosto muito de jogar o seguinte esporte: futebol.
FUTEBOL
Estes são meus esportes favoritos

LISTAS COM NUMEROS

In [ ]:
lista = list(range(1,6))
print(lista)
lista2 = list(range(1,1000))
print(lista2)
lista3 = list(range(2,21,2))
print(lista3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
nums_ao_cubo = []
for num in range(1,11):
  num_cubo = num ** 3
  nums_ao_cubo.append(num_cubo)
print(nums_ao_cubo)

nums_ao_quadrado = []
for num in range(2,22):
  num_quadrado = num ** 4
  nums_ao_quadrado.append(num_quadrado)
print(nums_ao_quadrado)
min(nums_ao_quadrado)
max(nums_ao_quadrado)
sum(nums_ao_quadrado)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321, 160000, 194481]

917146

In [ ]:
nums_a_quarta = [num ** 4 for num in range(1,22)]
print(nums_a_quarta)
nums_a_quinta = [num ** 5 for num in range(1,5)]
print(nums_a_quinta)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000, 14641, 20736, 28561, 38416, 50625, 65536, 83521, 104976, 130321, 160000, 194481]
[1, 32, 243, 1024]

In [ ]:
lista = list (range(1,51))
print(lista)
lista1 = list(range(1,1001))
print(lista1)
min(lista1)
max(lista1)
sum(lista1)
lista2 = list(range(2,41,2))
print(lista2)
lista3 = [num ** 2 for num in range(1,11)]
print(lista3)
lista4 = [num ** 5 for num in range(1,5)]
print(lista4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 32, 243, 1024]

TUPLAS

In [ ]:
paises = ('Estados Unidos', 'Canadá', 'Bélgica', 'Holanda', 'Escócia', 'Alemanha')
print(paises)
for paise in paises:
  print(paise)
paises.insert(0,'Brasil')
print(paises)

('Estados Unidos', 'Canadá', 'Bélgica', 'Holanda', 'Escócia', 'Alemanha')
Estados Unidos
Canadá
Bélgica
Holanda
Escócia
Alemanha

AttributeError: ignored

DECLARAÇÕES IF

In [ ]:
número = 40
if número > 40:
  print('O numero é maior que 40')
else:
  print('O número é menor que 40')

O número é menor que 40

In [ ]:
nota = 71
if nota >=70:
  print('parabéns')
else:
  print('Estude mais')

parabéns

In [ ]:
idade = 10
if idade <= 10:
  print('entrada gratuita')
elif idade <= 12:
  print('Taxa reduzida')
else:
  print('Pagamento total')

entrada gratuita

In [ ]:
comida = 'pizza'
if comida == 'pizza':
  print('Comida é a pizza')
else:
  print('comida não é pizza')

Comida é a pizza

In [ ]:
comida = 'pizza'
if comida == 'lasanha':
  print('a comida é lasanha')
else:
  print('a comida não é lasanha')

a comida não é lasanha

In [ ]:
pedidos = ['refrigerante', 'pizza', 'sundae', 'hamburguer']
if 'refrigerante' in pedidos:
  print('O refrigerante consta no pedido do cliente')
if 'lasanha' in pedidos:
  print('A lasanha consta no pedido do cliente')
if 'sundae' in pedidos:
  print('O sundae consta no pedido do cliente')
if 'hamburguer' in pedidos:
  print('O hamburguer consta no pedido do cliente')

print('pedido concluido')

O refrigerante consta no pedido do cliente
O sundae consta no pedido do cliente
O hamburguer consta no pedido do cliente
pedido concluido

In [ ]:
if 'pizza' == 'pizza' and 'queijo'=='queijo':
  print('verdadeiro')
if 'pizza' == 'pizza' or 'queijo'!= 'queijo':
  print('falso')

verdadeiro
falso

In [ ]:
numero = 12
if numero < 5 and numero < 8:
  print('numero é menor que 5')
if numero == 5 or numero > 4:
  print('o numero é maior que 5')

o numero é maior que 5

In [ ]:
pedidos = ['pizza', 'pão', 'tomate']
for pedido in pedidos:
  print('Colocando no pedido'+ ' ' + pedido + '.')

print('seu pedido está concluido')

Colocando no pedido pizza.
Colocando no pedido pão.
Colocando no pedido tomate.
seu pedido está concluido

In [ ]:
pedidos = ['pizza', 'pão', 'tomate']
for pedido in pedidos:
  if pedido == 'tomate':
    print('não há mais tomate')
  else:
    print('Colocando no pedido'+ ' ' + pedido + '.')

print('seu pedido está concluido')

Colocando no pedido pizza.
Colocando no pedido pão.
não há mais tomate
seu pedido está concluido

In [ ]:
carros = ['BMW', 'porsche', 'ferrari']
for carro in carros:
  if carro == 'ferrari':
    print('Não há no estoque')
  else:
    print('Carro no estoque')
print('Qual o seu carro?')

Carro no estoque
Carro no estoque
Não há no estoque
Qual o seu carro?

In [ ]:
frutas = ['maça', 'abacaxi', 'perâ', 'manga', 'uva']
for fruta in frutas:
  if fruta == 'abacaxi'or fruta == 'manga':
    print('Nao há mais no estoque')
  else:
    print('Fruta disponível setor 11')

Fruta disponível setor 11
Nao há mais no estoque
Fruta disponível setor 11
Nao há mais no estoque
Fruta disponível setor 11

In [ ]:
estoques = ['maça', 'uva', 'tomate', 'perâ', 'pão', 'leite', 'nescau', 'bala']
for estoque in estoques:
  if estoque == 'maça':
    print('não há no estoque')
  elif estoque =='uva':
    print('não há no estoque')
  else:
    print('pedido disponível na fileira 13')

não há no estoque
não há no estoque
pedido disponível na fileira 13
pedido disponível na fileira 13
pedido disponível na fileira 13
pedido disponível na fileira 13
pedido disponível na fileira 13
pedido disponível na fileira 13

In [ ]:
frutas = ['maça', 'manga', 'uva', 'perâ', 'melão']
for fruta in frutas:
  if 'limão' in frutas:
    print('hoje teremos suco')
  else:
    print('não teremos suco')

não teremos suco
não teremos suco
não teremos suco
não teremos suco
não teremos suco

In [ ]:
pedidos = ['limão', 'pão', 'manteiga', 'óleo', 'arroz', 'feijão']
for pedido in pedidos:
  if 'tomate' in pedidos:
    print('não há tomates')
  else:
    print('pedido concluido')

pedido concluido
pedido concluido
pedido concluido
pedido concluido
pedido concluido
pedido concluido

In [ ]:
if pedidos:
  for pedido in pedidos:
    print(f'temos {pedido}')
  else:
    print('lista vazia')
  print('pedido concluido')

temos limão
temos pão
temos manteiga
temos óleo
temos arroz
temos feijão
lista vazia
pedido concluido

In [ ]:
frutas
estoques = ['limão', 'melão', 'manga']
for estoque in estoques:
  if estoque in frutas:
    print(f'nós temos a {fruta}')
  else:
    print(f'não temos {estoque}')

não temos limão
nós temos a melão
nós temos a melão

DICIONÁRIOS

In [ ]:
dados = {'nome': 'Marcos', 'sobrenome':'Morris', 'idade': 45, 'cidade': 'New York'}
print(dados)

{'nome': 'Marcos', 'sobrenome': 'Morris', 'idade': 45, 'cidade': 'New York'}

In [ ]:
dados

{'cidade': 'New York', 'idade': 45, 'nome': 'Marcos', 'sobrenome': 'Morris'}

In [ ]:
carros_favoritos = {'Daniel':'Porsche', 'Krieger':'Ferrari'}
print(carros_favoritos)
print('O carro favorito do meu amigo Daniel é: ' + ' '+ carros_favoritos['Daniel'])
print('O carro favorito do meu amigo Krieger é:' + ''+ carros_favoritos['Krieger'])

{'Daniel': 'Porsche', 'Krieger': 'Ferrari'}
O carro favorito do meu amigo Daniel é:  Porsche
O carro favorito do meu amigo Krieger é:Ferrari

In [ ]:
carros = {'Ford':'Fusion', 'honda':'civic', 'toyota':'corola'}
print(carros)
for carro in carros:
  print('A marca'+ ' '+ carros['Ford'] + ' '+ 'foi fundada nos EUA')
for key in carros.keys():
  print(carros)

{'Ford': 'Fusion', 'honda': 'civic', 'toyota': 'corola'}
A marca Fusion foi fundada nos EUA
A marca Fusion foi fundada nos EUA
A marca Fusion foi fundada nos EUA
{'Ford': 'Fusion', 'honda': 'civic', 'toyota': 'corola'}
{'Ford': 'Fusion', 'honda': 'civic', 'toyota': 'corola'}
{'Ford': 'Fusion', 'honda': 'civic', 'toyota': 'corola'}

In [ ]:
carros = {'Ford':'Fusion', 'honda':'civic', 'toyota':'corola'}
for key in carros.keys():
  print(key.title())
for value in carros.values():
  print(value.title())

Ford
Honda
Toyota
Fusion
Civic
Corola

In [ ]:
comidas_favoritas = {'Marcos':'pizza', 'Barbara':'Marcarronada', 'Carlos':'fritas', 'Iracema':'arroz'}
nomes = ['Marcos', 'Larissa', 'Krieger', 'Raissa', 'Carlos', 'Iracema']
for key in comidas_favoritas.keys():
  if nomes in comidas_favoritas:
    print('ok')
  else:
    print('não')

TypeError: ignored